# exclude exe
*.exe
config/config.*
assets/*
*/config.yaml
*/config.json
*/*/config.yaml
*/*/config.json
./assets
/yatori-go-core/examples/TestData.yaml
/yatori-go-console/assets/*
/config.yaml
/yatori-go-core/examples/assets/common_old1.onnx
/yatori-go-core/examples/assets/onnxruntime.dll
/yatori-go-console/ip.txt
/yatori-go-console/Makefile
